.square {
    width: 6rem;
    height: 5.4rem;
    margin: 10px 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: .8rem;
    line-height: 1rem;
}