* {
    font-family: Helvetica, Arial, sans-serif;
    color: #fefefe;
    font-size: 1.6rem;
    text-decoration: none;
}
body {
    margin: auto;
    background-color: #1d1007;
    background-image: url('https://i.pinimg.com/originals/a2/5b/22/a25b22e84144d268eda0259491e51c88.jpg');
    background-size: 100%;
    background-repeat: no-repeat;
}
@font-face {
    font-family: 'Morris';
    src: url('./assets/MorrisRoman-Black.ttf') format('truetype');
    font-style: normal;
    font-weight: 400;
}


.App {
    display: flex;
    flex-flow: column wrap;
    height: 100vh;
}
a {
    font-family: Morris, Helvetica, Arial, sans-serif;
    font-size: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 3px #697e3f solid;
    border-radius: 10px;
    background-color: #2c2413;
    color: #60733b;
    text-align: center;
    margin: 15px;
    padding: 5px 8px;
}
a:hover {
    border: 3px #3a572d solid;
    color: #314927;
}
.loading {
    font-family: Morris, Helvetica, Arial, sans-serif;
    font-size: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
input {
    color: black;
}

.square {
    width: 10%;
    min-width: 6rem;
}

.about {
    font-family: Morris;
}
.h1 {
    font-family: Morris;
    font-size: 4rem;
}


.property-titles, .guess-result {
    justify-content: space-evenly;
}