* {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 1.6rem;
    text-decoration: none;
}
body {
    margin: auto;
}
@font-face {
    font-family: 'Morris';
    src: url('./assets/MorrisRoman-Black.ttf') format('truetype');
    font-style: normal;
    font-weight: 400;
}


.App {
    display: flex;
    flex-flow: column wrap;
    height: 100vh;
}
a {
    font-family: Morris, Helvetica, Arial, sans-serif;
    font-size: 2rem;
    color: #314927;
}
a:hover {
    color: #60733b;
}